{% extends 'layouts/auth_layout.html' %}
{% block title %}Iniciar sesión | BLOG IA{% endblock title %}
{% block content %}
<div class="flex flex-col justify-center items-center">
    <h1 class="text-center text-2xl mb-6">Iniciar sesión</h1>
    <form class="flex flex-col max-w-[400px] gap-4" method="post">
    {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="w-full bg-blue-400 py-2 rounded-lg">
        Iniciar sesión
        </button>
    </form>
</div>
{% endblock content %}