{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title_layout %}{% endblock title_layout %}</title>
        <link
        rel="shortcut icon"
        href="{% static 'assets/favicon.ico' %}"
        type="image/x-icon"
        />
        <script src="{% static 'js/tailwind.config.js' %}"></script>
            {% block extra_head_layout %}{% endblock extra_head_layout %}
    </head>
    <body class="min-w-[280px]">
        {% block content_layout %}{% endblock content_layout %}
    </body>
</html>